.social-icon {
  display: flex;
  flex-direction: column;
  gap: 12px;
  --tw-text-opacity: 1;
  color: rgb(144 161 185 / var(--tw-text-opacity));
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-sizing: border-box;

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  &__name {
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
  }
}
