.instant-container {
  display: flex;
  flex-direction: column;
  margin: 20px;

  .instant-selling {
    box-sizing: content-box;
    display: flex;
    height: calc(120px - 12px - 12px);
    padding: 12px 16px;
    flex-direction: column;

    border: 1px solid rgb(16 23 31);
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: rgb(16 23 31);

    &.active {
      border: 1px solid var(--color-green-text);
      box-shadow: 0 0 1px var(--color-green-text), 0 0 1px var(--color-green-text), 0 0 1px var(--color-green-text);
    }

    .selling-text {
      width: 100%;
    }

    .selling-info {
      display: flex;
      width: 100%;
      margin-top: auto;
      flex-direction: row;
      justify-content: space-between;

      .modal-dropdown {
        display: flex;
        width: fit-content;
        padding: 8px 12px;
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;
        align-items: center;

        background-color: rgb(26 38 51);
        border-radius: 12px;
        cursor: pointer;

        .dropdown-icon {
          width: 24px;
          height: 24px;
          object-fit: cover;
          border-radius: 100%;
        }
      }

      .info-money-container {
        display: flex;
        flex-direction: column;
        justify-content: right;

        .money-input-main {
          width: 120px;
          padding: 0;
          text-align: right;
          font-size: 30px;
          border: none;
          background: none;

          &:focus {
            outline: none;
            border: none;
          }
        }

        .secondary-money {
          display: flex;
          justify-content: right;
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }

  .instant-buying {
    display: flex;
    flex-direction: column;
    height: calc(120px - 12px - 12px);
    padding: 12px 16px;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgb(46 60 77);

    .buying-text {
      width: 100%;
    }

    .info-money-container {
      display: flex;
      margin-top: auto;
      margin-bottom: auto;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


      .modal-dropdown {
        display: flex;
        height: calc(52px - 8px - 8px);
        width: fit-content;
        padding: 8px 12px;
        flex-direction: row;
        gap: 12px;
        justify-content: space-between;
        align-items: center;

        background-color: rgb(26 38 51);
        border-radius: 12px;
        cursor: pointer;

        .dropdown-icon {
          width: 24px;
          height: 24px;
          object-fit: cover;
          border-radius: 100%;
        }
      }

      .info-money {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;

        .money-main {
          width: 120px;
          padding: 0;
          text-align: right;
          font-size: 30px;
          border: none;
          background: none;

          &:focus {
            outline: none;
            border: none;
          }

          &.disabled {
            display: none;
          }
        }

        .secondary-money {
          display: flex;
          margin-top: auto;
          justify-content: right;
          font-weight: 600;
          font-size: 12px;
        }
      }
    }

    .buying-info {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      .additional-info {
        display: flex;
        text-decoration-line: underline;
        font-weight: 600;
        font-size: 10px;
        cursor: help;
      }
    }
  }

  .instant-info {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-weight: 600;
    font-size: 10px;
    margin: 16px 0;

    .helper {
      border: 1px solid;
      text-transform: uppercase;
      padding: 0 8px;
      cursor: help;
      border-radius: 12px;
    }

    .optimised {
      color: rgb(199 242 132);
      background-color: hsla(83,81%,73%,.1);
      border-color: hsla(83,81%,73%,.2);
    }

    .rtse {
      color: rgb(181 171 255);
      background-color: rgba(181,171,255,.1);
      border-color: rgba(181,171,255,.2);
    }
  }

  .instant-connect {
    display: flex;
    width: 100%;
    height: 60px;
    margin: 8px 0;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 12px;
    cursor: pointer;

    font-size: 18px;
    font-weight: 600;
    color: #c7f284;
    background-color: hsla(83,81%,73%,.1);

    &:hover {
      border-color: #c7f284;
    }
  }
}